<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @investor.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @investor.amount %>
</p>

<p>
  <strong>Willing to reinvest:</strong>
  <%= @investor.willing_to_reinvest %>
</p>

<p>
  <strong>Negotiation state:</strong>
  <%= @investor.negotiation_state %>
</p>

<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
